<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @registration.description %>
</p>

<p>
  <strong>Uai:</strong>
  <%= @registration.uai %>
</p>

<p>
  <strong>Bu:</strong>
  <%= @registration.bu %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @registration.owner %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
